.card-title{
    text-align: center;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: "Open Sans",Sans-serif;
}
.card-price{
    text-align: center;
    font-size: 14px;
    color: #d74848;
}