.product-page-layout {
    width: 100%;
    min-height: 100vh;
    background: #e8edf1;
    .nav-col {
        background: #fff;
        border-radius: 10px;
        height: 800px;
        margin-top: 30px;
        margin-left: 20px;
        padding: 30px 0px 20px 0px;
        margin-right: 50px;
        margin-left: 40px;
    }

    .filter-row,
    .product-list-item {
        width: 100%;
        background: #fff;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .filter-row {
        margin-top: 30px;
        margin-bottom: 20px;
        padding: 16px 24px;
        height: 130px;

    }
    .product-list-item {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding: 24px 0;
        min-height: 400px;
        width: 100%;
        background: #fff;
        margin-left: 1px!important;
        border-radius: 10px;
        box-sizing: border-box;

        .product-item {
            padding-left: 20px!important;
            flex: 1 1 30%;
            max-width: 32%;
            min-width: 250px;
            margin-bottom: 16px;
            display: flex;
            justify-content: center;
        }
    }
}
