.container-infoOrder {
    padding: 60px;

    .info {
        border-top: 1px solid #e6e2e2;
        font-size: 18px;
        font-family: "Roboto";

        .title {
            font-size: 25px;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .info-text{
            margin-bottom: 20px;
        }
    }
    .order {
        border: 3px solid #f2aaaa !important;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 50px;

        .title-order {
            padding-bottom: 5px;
            border-bottom: 1px solid #e6e2e2;
            margin-bottom: 20px;
        }

        .order1 {
            border-bottom: 1px solid #e6e2e2;

            .order1-text1 {
                font-family: "Roboto";
                font-size: 17px;
            }
            .order1-text2 {
                font-family: "Roboto";
                font-size: 17px;
            }
        }
        .order2 {
            border-top: 1px solid #e6e2e2;
            padding-top: 10px;
        }
        .payment {
            p {
                margin-top: 30px;
                font-size: 15px;
                font-family: "Roboto";
                font-size: 18px;
            }
            .payment-option {
                padding-top: 10px;
                border-top: 1px solid #e6e2e2;
            }
        }
        .btn-buy {
            margin-top: 30px;
            width: 100%;
            height: 40px;
            background-color: #eb2e2e;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 20px;
        }
        .btn-buy:hover {
            background-color: #d52c2c;
            color: #fff;
        }
    }
}
