.footer {
    background-color: #f9f9f9;
    padding: 20px 40px;

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;

        .footer-top-left {
            padding-left: 0px;
            h3 {
                font-size: 24px;
                margin: 0;
            }
            p {
                margin: 5px 0 0;
                font-size: 14px;
                color: #555;
            }
        }

        .footer-top-right {
            padding-right: 50px;
            .register-button {
                background-color: #000;
                color: #fff;
                padding: 10px 20px;
                border: none;
                cursor: pointer;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    .footer-middle {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        .footer-column {
            flex: 1;
            margin-right: 20px;

            h4 {
                font-size: 16px;
                margin-bottom: 10px;
                color: #333;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    font-size: 14px;
                    color: #555;
                    margin-bottom: 5px;
                }
            }
        }

        .footer-column:last-child {
            margin-right: 0;
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #ddd;
        padding-top: 20px;

        p {
            font-size: 14px;
            color: #555;
            margin: 0;
        }

        .contact-icon{
            width: 50px;
            display: flex;
            justify-content: space-between;
        }
    }
}