.navbar {
    width: 100%;
    font-family: "Roboto";
    display: block;

    .navbar-material {
        margin-top: 10px;
        .material-option {
            margin-top: 10px;
            .material{
                font-family: "Roboto";
            }
        }
    }

    .navbar-price-range {
        margin-top: 10px;

        .price-range-option {
            margin-top: 10px;
            .price-range {
                font-family: "Roboto";
            }
        }
    }
}
